# Ambiente
APP_ENV=development
LOG_LEVEL=DEBUG

# API
API_HOST=0.0.0.0
API_PORT=8000

# Caminhos
MODEL_PATH=app/model/model.joblib
METADATA_PATH=app/model/metadata.joblib
DATA_PATH=data/raw/

# Monitoramento
MONITOR_PORT=8501
DRIFT_THRESHOLD=0.15
